.contain-home img{
    position: relative;
    margin-left: -120px;
    margin-top: -14px;
    width: 1335px;
    height: 621px;
}
.middle-contain {
    position: relative;
    margin-top: -568px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.middle-contain h1 {
    font-size: 50px;
    color: white;
}

.middle-contain p{
    font-size: 19px;
    color: #FFDD00;
}