.cover-movie{
    position: relative;
    margin-bottom: 15px;
}
.description{
    margin-top: 10px;
    text-align: justify;
}
.background{
    position: relative;
    margin-left: -82px;
    margin-top: -16px;
    z-index: -1;
    width: 1300px;
    height: 2000px;
}